<h1>Add a contact</h1>
  <div class="form-group">
    <form action="/view-all-contact" method="post">
      <div class="form-group">
        <label for="contact-name">Contact Name</label>
        <input type="text" name="contact-name" id="contact-name">
        <button type="submit">Enter</button>
      </div>
    </form>
  </div>
<p><a href="/">Return to Home Screen</a></p>
