<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h3>Add a new Contact:</h3>
      <form action='/contact/new' method='post'>
        <div class="form-group">
          <label for='new-name'>Contact Name</label>
          <input  class='form-control' name='new-name' type='text' placeholder="Enter a Name">
        </div>
        <div class="form-group">
          <label for='new-number'>Contact Phone Number</label>
          <input class='form-control' name='new-number' type='text' placeholder="Enter a Phone Number">
        </div>
        <div class="form-group">
          <label for='new-address'>Contact Address</label>
          <input class='form-control' name='new-address' type='text' placeholder="Enter an Address">
        </div>
        <button type='submit' class="btn-success">Add Contact</button>
      </form>
    </div>
  </body>
</html>
