<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link href="/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h3>Your New Contact</h3>
        <h5>@Model.GetName()</h5>
        <h5>@Model.GetPhoneNUmber()</h5>
        <h5>@Model.GetUserAddress()</h5>
        <p><a href="/contact-add">Add another contact</a></p>
        <p><a href="/">Return to Home Page</a></p>
      </div>
    </div>
  </body>
</html>
