<h3>Here is the address for @contact.GetContactName()</h3>
<ol>
  @foreach (var address in @model["AddressMulti"])
  {
    <li>@address.GetName()</li>
  }
</ol>
<p>
  <a href='/contact/@Model["artist"].GetId()/addressMulti/new'>Add a new Address</a>
</p>
<p>
  <a href="/">Return Home</a>
</p>
